apiVersion: v1
data:
  .dockerconfigjson: {{ dockerconfigjson }}
kind: Secret
metadata:
  annotations:
    kubesphere.io/creator: admin
    secret.kubesphere.io/force-insecure: "true"
  name: kunlun
  namespace: {{ helm_install_namespace }}

type: kubernetes.io/dockerconfigjson
