---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: openpitrix
    component: openpitrix-upgrade-job
    version: v3.2.0
  name: openpitrix-upgrade-job
  namespace: default
spec:
  backoffLimit: 100
  template:
    metadata:
      labels:
        app: openpitrix
        component: openpitrix-upgrade-job
        version: v3.2.0
    spec:
      serviceAccountName: klc
      restartPolicy: OnFailure
      containers:
        - name: upgrade
          command:
            - sh
            - -c
            - upgrade && import-app import
          image: {{ kube_image_repository }}/openpitrix-jobs:{{ kube_image_tag }}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /etc/kubesphere
              name: klc-config
      volumes:
        - name: klc-config
          configMap:
            name: klc-config