---
apiVersion: batch/v1
kind: Job
metadata:
  name: ks-upgrade
  namespace: {{ helm_install_namespace }}
  labels:
    job: ks-upgrade
    version: v3.0.0
spec:
  template:
    spec:
      serviceAccountName: ks-installer
      restartPolicy: OnFailure
      containers:
        - command:
            - ks-upgrade
            - --logtostderr
            - --v=4
          image: {{ kube_image_repository }}/ks-upgrade:{{ kube_image_tag }}
          imagePullPolicy: IfNotPresent
          name: ks-upgrade