apiVersion: application.kubesphere.io/v1alpha1
kind: HelmRepo
metadata:
  annotations:
    app.kubesphere.io/sync-period: "3600s"
    kubesphere.io/creator: admin
  labels:
    kubesphere.io/workspace: system-workspace
  name: builtin-stable
spec:
  credential: {}
  name: built-stable
  syncPeriod: 1200
  url: "http://{{ hostvars[groups['harbor'][0]]['ansible_' + hostvars[groups['harbor'][0]]['api_interface']]['ipv4']['address'] }}:30002/chartrepo/library"
